<div class="bg-[#EBF5EE] flex flex-col lg:flex-row space-x-0 lg:space-x-4 min-h-screen min-w-screen justify-center items-center p-4 pt-[60px]">
  <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-4 w-screen lg:m-7 md:m-5 min-h-full min-w-screen justify-center items-center">
      <div class="flex-1 justify-center mb-4 lg:mb-0 max-w-max">
          <p class="text-center">Tableros</p>
          <div class="container bg-[#09814A] rounded-lg items-center w-max pt-1 pb-1 p-4 shadow-lg overflow-y-auto min-h-[80vh] max-h-[80vh]" id="boards">
              <button class="bg-[#26408B] rounded-lg text-white m-5 p-2" type="button" (click)="toggleModal()">Nuevo</button>
              <div class="container bg-[#09814A] rounded-lg items-center min-w-max pt-1 pb-1">
                  @for (board of filteredBoards; track board._id; let index = $index) {
                      <board-card [board]="board"/>
                  }
              </div>
          </div>
      </div>
      <div class="flex-1 justify-center mb-4 lg:mb-0 max-w-max">
          <p class="text-center">Actividades</p>
          <div class="container bg-[#09814A] rounded-lg items-center w-max pt-1 pb-1 p-4 shadow-lg overflow-y-auto min-h-[80vh] max-h-[80vh]">
              @for (activity of filteredActivities; track activity._id; let index = $index) {
                  <activity-card [activity]="activity"/>
              }
          </div>
      </div>
      <div class="flex-1 justify-center max-w-max">
          <p class="text-center">Notificaciones</p>
          <div class="container bg-[#09814A] rounded-lg items-center w-max pt-1 pb-1 p-4 shadow-lg overflow-y-auto min-h-[80vh] max-h-[80vh]" id="notifications">
              @for (notif of filteredNotifications; track notif._id; let index = $index) {
                  <notif-card [notification]="notif"/>
              }
          </div>
      </div>
  </div>
</div>
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
<div class="relative w-auto my-6 mx-auto max-w-3xl">
  <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-[#09814A] outline-none focus:outline-none">
    <div class="flex items-start justify-between p-5 rounded-t bg-[#EBF5EE] border-3 border-solid border-blueGray-200">
      <p class="text-3xl text-white" style="font-family: 'Poppins', sans-serif">
        Nuevo Tablero
      </p>
    </div>
    <div class="relative flex-auto">
      <form class="p-4 md:p-5">
          <div class="grid gap-4 mb-4 grid-cols-2">
              <div class="col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-white " style="font-family: 'Poppins', sans-serif">Nombre</label>
                  <input  [(ngModel)]="newBoard.name" type="text" name="name" id="name" class="bg-[#EBF5EE] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Nombre del Tablero" required="">
              </div>
              <div class="col-span-2">
                  <label for="description" class="block mb-2 text-sm font-medium text-white" style="font-family: 'Poppins', sans-serif">Descripción</label>
                  <input [(ngModel)]="newBoard.description" id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-[#EBF5EE] rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Descripcion...">                    
              </div>
          </div>
      </form>
    </div>
    <div class="flex items-center justify-center rounded-b">
      <button class="text-red-500 bg-[#26408B] rounded-lg font-bold uppercase  m-2 p-2 text-sm outline-none focus:outline-none mr-1 mb-3 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
        Cerrar
      </button>
      <button class="bg-[#26408B] rounded-lg text-white m-2 p-2 hover:shadow-lg outline-none focus:outline-none mr-1 mb-3 ease-linear transition-all duration-150" type="button" (click)="create()">
        Guardar
      </button>
    </div>
  </div>
</div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
